{
    "extends": ["eslint:recommended"],
    "plugins": [],
    "parserOptions": {
        "ecmaVersion": 5
    },
    "env": {
        "browser": true,
        "commonjs": true
    },
    "globals": {},
    "rules": {}
}